APP_ENV=development
PORT=8090

DB_URL=postgres://postgres:password@localhost:5432/dbapp1?sslmode=disable

JWT_SECRET=supersecret

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=test@example.com
SMTP_PASSWORD=password
SMTP_FROM=noreply@example.com
